@import '../js/jquery-ui/jquery-ui.min.css';
@import '../js/photobox/photobox/photobox.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~swiper/dist/css/swiper.min.css';
@import '../js/cookie/jquery.cookiebar.css';
@import "blast_utility/core.scss";

.ciao{
  color:#f00;
}
.pippo{
  height: 100px;
  .pluto{
    width: 100%;
  }
}

@include picture();

.gallery{
  display: flex;
  height: 200px;
  width: 100%;
  li{
    width: 20%;
  }
}

.swiper-container{
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 30px;
  .swiper-slide{
    height: 200px;
  }
}
